template(name="staff")
  h2 Staff
  br
  each categories
    h3= name
    each members
      .media.staff
        .media-left
          a(href=hqURL)
            img.media-object(src=lqURL)
        .media-body
          h4.media-heading= name
          p= bio
