template(name="carousel")
  #carousel-1.carousel.slide.hidden-xs(data-ride="carousel")
    .carousel-inner(role="listbox")
      each articles
        .item(class=isFirst)
          img(src=carouselImage)
          .carousel-title(style=styleOptions)
            h3
              i= category
              | | #{title}
    a.left.carousel-control(href="#carousel-1" role="button" data-slide="prev")
      span.fa.fa-chevron-left(aria-hidden="true")
      span.sr-only Previous
    a.right.carousel-control(href="#carousel-1" role="button" data-slide="next")
      span.fa.fa-chevron-right(aria-hidden="true")
      span.sr-only Next
  
  script.
    // Hack: make carousel match screen height
    var f={height:$(window).height()-60+'px'}
    var r=function (){$('.carousel-inner .item img').css(f);$('.carousel').css(f)}
    $(r);
