template(name="carousel")
  #carousel-1.carousel.slide.hidden-xs(data-ride="carousel")
    .carousel-inner(role="listbox")
      each articles
        // TO-DO: pass if statement into tag
        if isFirst
          .item.active
            img(src=carouselImage)
            .carousel-title(style=styleOptions)
              h3= title
        else
          .item
            img(src=carouselImage)
            .carousel-title(style=styleOptions)
              h3= title
    a.left.carousel-control(href="#carousel-1" role="button" data-slide="prev")
      span.fa.fa-chevron-left(aria-hidden="true")
      span.sr-only Previous
    a.right.carousel-control(href="#carousel-1" role="button" data-slide="next")
      span.fa.fa-chevron-right(aria-hidden="true")
      span.sr-only Next
